*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
}
.top-banner{
    padding:30px 40px;
    width:100%;
    background: #e3edf6;
    overflow: hidden;

}
.top-banner .container{
    max-width: 100%;
    display: flex;
    justify-content:space-between
}
.top-banner .container .detail{
    margin-top:8%;
    margin-left:30px;
}
.top-banner .container .detail h2{
    font-size:50px;
    color:#010f1c;
    margin-right:50%;
    margin-bottom:40px;
}
.top-banner .container .detail .link{
  
    padding:10px 20px;
    text-decoration: none;
    border-radius:5px;
    color:#010f1c;
    background:#fff;
    transition: .5s;
}
.top-banner .container .detail .link:hover{
    background: #0989ff;
    color:#fff;
}
.product-type{
    width:100%;
    padding:30px 40px;
    
}
.product-type .container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.product-type .container .box{
    padding:10px 20px;
    margin-left:10px;
}
.product-type .container .box .img-box{
    height:200px;
    width:200px;
    border-radius:50%;
    background:#e8f4ff;
    overflow:hidden;
}
.product-type .container .box .img-box img{
    height:100px;
    width:100px;
    align-items:center;
    justify-content: center;
    max-width:100%;
    margin-top:40px;
    margin-left:45px;
    transition:.5s;

}
.product-type .container .box .img-box:hover img{
    transform: scale(1.5);
}
.product-type .container .detail{
    max-width:100%;
    text-align: center;
    align-items: center;
 
}
.product-type .container .detail p{
    margin-top: 10px;
    color: #9a9a9a;
  
}
.about{
    padding:40px 50px;
    width:100%;
}
.about .container{
    max-width:100%;
    display:flex;
    justify-content:space-between;
}
.about .container .box{
    display:flex;
    padding:20px 20px;
    background:#ecf2f7;
    width:250px;
    height:90px;
    border-radius:5px;
    cursor:pointer;
}
.about .container .box .icon{
    color:#e44c8c;
    font-size:32px;
    margin-top:10px;
}
.about .container .box .detail{
    margin-top:10px;
    margin-left:10px;
}
.about .container .box .detail h3{
    color:#010f1c;
}
.about .container .box .detail p{
    color:#9a9a9a;
}

.product{
    padding:30px 40px;
    width:100%;
}
.product h2{
    margin-bottom: 20px;
    font-size:32px;
    color:#010f1c;
    
}
.product .contanier{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
 
}
.product .contanier .box{
    padding:10px 20px;
    overflow:hidden;
    width:280px;
    height:380px;
    border:1px solid #cbc9c9;
    margin-bottom:20px;
    transition:0.5s;
    cursor:pointer;
    border-radius:5px;

}
.product .contanier .box:hover{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px ;

}
.product .contanier .box .img-box{
    display:flex;
    justify-content: space-between;
}
.product .contanier .box .img-box img{
  
    width:300px;
    height:250px;
    margin-right:50px;
}
.product .contanier .box .img-box .icon{
    position:relative;
    right:0;
    display:flex;
    flex-direction:column;
    z-index:1;
    margin-top:10px;
    transition:.5s;
}
.product .contanier .box .img-box:hover .icon{
    transform:translateX(-80px)
}
.product .contanier .box .img-box .icon li{
    list-style:none;
    padding:10px;
    color:#010f1c;
    cursor:pointer;
    box-shadow:rgba(0,0,0,0.24) 0px 3px 8px;
    background:#fff;
    transition:.5s;
    font-size:18px;
    
}
.product .contanier .box .img-box .icon li:hover{
    background:#0989ff;
    color:#fff;
}