*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.free{
    width:100%;
    padding:20px 30px;
    background-color: #010f01;
    display:flex;

    

}
.icon{
    color:yellow;
    font-size:32px;
}
.free p{
    font-size:14px;
    color:#f6f7f9;
    padding-left:10px;
    font-weight:600;
    padding-top:8px;
}