*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.nav{
    width:100%;
    padding:20px 30px;
    background-color: #010f01;
    display:flex;
    align-items:center;
    

}
.icon{
    color:yellow;
    font-size:32px;
}
.nav p{
    font-size:20px;
    color:#fff;
    padding-left:10px;
}